.App {
  height: 100vh;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.inner_container {
  padding-left: 10%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: orange; */
}

#alert {
  background-color: red;
  width: 22%;
  height: 1.5em;
  border-radius: 15px;
  cursor: pointer;
}
#alert p {
  font-size: 1em;
  text-align: center;
  color: #ffff;
  font-weight: bold;
  text-decoration: none;
}

.inner_container div {
  flex: 1;
}
.inner_container div button {
  background-color: teal;
  border: none;
  border-radius: 10px;
  height: 3.7em;
  width: 20em;
  color: #ffff;
  font-weight: bold;
  outline: none;
}
.inner_container div:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.inner_container div h1 {
  font-size: 5em;
  color: black;
}

.inner_container div p {
  font-size: 1.5em;
  color: grey;
  padding-right: 1em;
}

.medCarImg {
  width: 100%;
}

@media screen and (max-width: 380px) {
  .App {
    height: 140vh;
    overflow-x: hidden;
    padding-top: 5%;
  }

  .inner_container {
    padding: 0 10%;
    flex-direction: column;
  }
  .inner_container div button {
    width: 55%;
  }
  .inner_container div h1 {
    font-size: 4em;
  }

  .inner_container div p {
    font-size: 1.2em;
  }
  .imgCtn {
    height: 0.5em;
  }
  .medCarImg {
    /* background-color: orange; */
    width: 100vw;
    margin-top: 5em;
  }

  #alert {
    background-color: red;
    width: 40%;
    height: 1.5em;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #alert p {
    font-size: 0.8em;
    text-align: center;
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
  }
}

@media screen and (max-width: 1440px) {
  .inner_container div h1 {
    font-size: 4em;
  }
}
